<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="QuestId" value="1"/>
  </appSettings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IQuestService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/QuestServer/QuestService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IQuestService"
                contract="NetworkService.IQuestService" name="WSDualHttpBinding_IQuestService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
