<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HeartBeatSec" value="10"/>
    <add key="QuestId" value="1"/>
    <add key="ServerIP" value="192.168.1.200"/>
    <add key="ListenCommandPort" value="1450"/>
    <add key="SendToCommandPort" value="1450"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IQuestService" openTimeout="00:00:10" maxReceivedMessageSize="20971520">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.200:8733/Design_Time_Addresses/QuestServer/QuestService/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IQuestService" contract="NetworkService.IQuestService" name="WSDualHttpBinding_IQuestService">
        <identity>
          <!--<dns value="localhost"/>-->
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
