<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RoomsCount" value="6"/>
    <add key="Room1Sensors" value="1"></add>
    <add key="Room2Sensors" value="2"></add>
    <add key="Room3Sensors" value="3"></add>
    <add key="Room4Sensors" value="4"></add>
    <add key="Room5Sensors" value="5"></add>
    <add key="Room6Sensors" value="6"></add>
  </appSettings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuestServer.Properties.Settings.QuestDbConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Storage\QuestDb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="QuestServer.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="QuestServer.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/QuestServer/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="QuestServer.QuestService">
                <endpoint address="" binding="basicHttpBinding" contract="QuestServer.IQuestService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/QuestServer/QuestService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>